@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: yekan;
  src: url("../dist/assets/fonts/yekan-font/yekan-regular.eot");
  src: url("../dist/assets/fonts/yekan-font/Yekan.eot?#iefix")
      format("yekan-opentype"),
    url("../dist/assets/fonts/yekan-font/yekan-regular.woff") format("woff"),
    url("../dist/assets/fonts/yekan-font/yekan-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: yekan, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}
